

body, html {
    height: 100vh;
    width:  100%;
    background: linear-gradient(45deg, #ea7986, #b1a6ff, #f9c792, #ffb7b6 );
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    margin: 0;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0 50%;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px;
    border-radius: 10px;
    padding: 3px 10px;
}

#newBtn {
    margin-top: 20px;
    cursor: pointer;
}

#quote-content {

    font-weight: bold;
}

#author {
    font-style: italic;
    font-weight: 500;
}