body, html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    font-family: 'helvetica neue', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}

#new-quote-btn {
    margin-top: 20px;
    cursor: pointer;
}
